
.reviewGenerator{
    height: 100%;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    --color1: #e8f8e1 ;
    --color2: #b4f1a9;
    --color1: #e6f6e4;   
    --color2: #5ad641;   
    --accent:  #ff0054;  
    background-color: var(--color1);
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), 
                        linear-gradient(45deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;    
}

.reviewGeneratorCenter{
    float: left;
    height: 100%;
    width: 80%;
    max-width: 700px;
}
.reviewGeneratorText{
    height: fit-content;
    width: 100%;
    float: left;
    padding: 20px;
    background: #fff;
    border: 6px solid #000;
    box-shadow: 12px 12px 0 #000;
    margin-bottom: 40px;
    box-sizing: border-box;
    position: relative;
}
.title{
    min-height: 100px;
    font-size: 49px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    width: 100%;
    float: left;
    height: fit-content;
    
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
        z-index: 1;
    position: relative;
}
.description p{
    font-size: 22px;
    font-weight: 600;
}
.reviewForm{
    width: 100%;
    height: fit-content;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.reviewGenerator pre{
    text-align: left;
    padding: 10px;
    max-width: 100%;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 15px;
}
.reviewResponse{
    width: 100%;
    height: fit-content;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    max-width: 100%;
    background-color: #5ad641;
    padding-top: 30px;
    /* border-radius: 10px; */
    border: 6px solid black;
    box-shadow: 12px 12px 0 #000;
    margin-bottom: 50px;

}
.reviewResponseHeader{
    width: 100%;
    float: left;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviewResponseTitle{
    height: 50px;
    width: fit-content;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviewResponseTitle p{
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
  }
  .reviewResponseButton{
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 30px;
  }
  .copyButton{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .copyButton:hover{
    transform: translate(0px, -5px);
    transform:scale(1.3)
  }
  .copyButton:active {
    transform: scale(1);
    transform: translate(0px, 0px);
  }
  
   .copyButton svg{
    stroke-width: 3px;
    height: 30px;
    width: 30px;
  }
  




  .tooltip {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6c757d;
    color: #fff;
    padding: 4px 10px;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    border: 2px solid #000;

  }
  .copyButton:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -40px;
  }
  
  
  
  


.steamLogo{
      position: absolute;
    width: 120px;
    height: 120px;
    bottom: 30px;
    right: 30px;
    z-index: 0;
}

 .steamLogo path.fill {
    fill: rgba(34, 255, 108, 0.308);
    animation: fill 4s ease-in-out infinite;
  }
  
 .steamLogo .dash path {
    stroke: #5ad641;
    stroke-width: 1px;
    stroke-linecap: round;
    animation: dashArray var(--sped, 2s) ease-in-out infinite,
      dashOffset var(--sped, 2s) linear infinite;
  }
  
 .steamLogo .dash path.aaa {
    stroke-width: 2px;
    stroke-linecap: butt;
    clip-path: path('M 20.4603 48.5493 L 16.6461 46.9584 C 17.3209 48.3794 18.4917 49.5682 20.0447 50.2206 C 23.4007 51.6328 27.2707 50.0262 28.6694 46.6367 C 29.3464 44.9966 29.3509 43.1867 28.6806 41.5422 C 28.0103 39.8977 26.7434 38.6151 25.119 37.9315 C 23.5035 37.2544 21.7741 37.279 20.2547 37.8576 L 24.1961 39.5022 C 26.6719 40.5434 27.8427 43.4124 26.8104 45.9105 C 25.7803 48.4085 22.936 49.5905 20.4603 48.5493 Z');
  }
  
 .steamLogo .dash path.big {
    stroke-width: 2px;
    animation: dashArray var(--sped, 4s) ease-in-out infinite,
      dashOffset var(--sped, 4s) linear infinite;
    filter: drop-shadow(0 0 2px #5ad641);
    
  }
  /*
  @keyframes dashArray {
    0% {
      stroke-dasharray: 0 1 359 0;
    }
  
    50% {
      stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  
  @keyframes dashOffset {
    0% {
      stroke-dashoffset: -5;
    }
  
    100% {
      stroke-dashoffset: -365;
    }
  }
  
  @keyframes fill {
    30%,
    55% {
      fill: #2AF0;
    }
  }
  
  */







